[submodule "web"]
	path = web
	url = git@github.com:f5aaff/webPrac
[submodule "stolenCode/spotify"]
	path = "stolenCode/spotify"
    url = "https://github.com/zmb3/spotify"
[submodule "notes"]
	path = notes
	url = git@github.com:f5aaff/notes
[submodule "backend/low/go/spotify-wrappinator"]
	path = backend/low/go/spotify-wrappinator
	url = git@github.com:f5aaff/spotify-wrappinator
